@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    
    

    <br />
    <p>
        This is a POC for the swapi api to handle some endpoints operations that form a local storage cache
    </p>
    <p>
        <a href="Planet/GetPlanetsWithLimit">Click here to populate planets completly</a>

    </p>
    <p>
        <a href="People/GetPeopleWithLimit">Click here to populate people completly</a>

    </p>

    <p>
     <a href="Planet/GetPlanetsWithLimit?limit=5">Click here to populate planets with limit 5</a>

    </p>
    <p>
        <a href="People/GetPeopleWithLimit?limit=5">Click here to populate people with limit 5</a>

    </p>

        <p>
  <a href="Planet/Index/2">Click here to query planet id 2</a>

    </p>
    <p>
        <a href="People/Index/5">Click here to query people with id 5</a>

    </p>

   
</div>
